body {
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    
}

h1 {
    color: white;
    font-size: 3.8em;
    font-weight: 900;
}
h2{
    font-size: 1.3em;
    color: white;
}

p {
    font-size: 1.3em;
    color: white;
}


.altura__pagina{
    width: 100%;
    min-height: 100vh;
}
.cabecalho__logo{
    margin: 0;
    padding: 0;
    width: 75%;
}

.cabecalho__navbar_imagem{
    width: 70%;
}

.conteudo__principal{
    overflow: hidden;
    background-image: url("./img/homebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudo__principal_texto{
    overflow: hidden;
    text-align: center;
    padding-top: 6em !important;
    margin: 3em;
}

.conteudo__principal_botao_div{
    margin-top: 90px !important;
}
.conteudo__principal_botao{
    --bs-btn-color: white;
    --bs-btn-bg: #692020;
    --bs-btn-border-color: #white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D12929;
    --bs-btn-hover-border-color: #692020;
    --bs-btn-focus-shadow-rgb: #692020;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    height: 3em;
    width: 10em;
}
.conteudo__principal_texto_destacado {
    color: #D12929;
}
.conteudo__praticas{
    background-color: black;
}
.conteudo__praticas_div{
    padding-top: 100px;
}
.conteudo__praticas_texto{
    font-size: 2em;
}

.conteudo__praticas_item{
    margin: 3em;
}

.conteudo__praticas_item:hover{
    .conteudo__praticas_item_texto {
        font-size:1.35em;
        font-weight:700;
    }
}
.conteudo__praticas_div_itens{
    padding-top: 6em !important;
    margin-left: 2em !important;
}

.conteudo__praticas_item_icone{
    color: white;
    font-size: 11px;
}
.conteudo__advogado{
    background-color: #692020;
}

.conteudo__advogado_imagem{
    width: 50%;
    box-shadow: 40px 40px 8px rgba(0, 0, 0, 0.1);

}
.conteudo__advogado_div{
    margin: 0 !important;
    padding: 0 !important;
}
.conteudo__advogado_texto_titulo{
    overflow: hidden;
}

.conteudo__advogado_imagem_div{
    margin-top: 8em;
}

.conteudo__advogado_texto{
    margin-top: 10rem;
}

.conteudo__clientes{
    background-color: #692020;
}
.conteudo__advogado_botao {
    --bs-btn-color: white !important;
    --bs-btn-bg: black !important;
    --bs-btn-border-color: black !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #D12929 !important;
    --bs-btn-hover-border-color: #692020 !important;
    --bs-btn-focus-shadow-rgb: #692020 !important;
    --bs-btn-active-bg: #D12929 !important;
    font-weight: 600 !important;
    text-align: center !important;
    font-size: 1.2em !important;
    height: 3em !important;
    width: 12em !important;
}
.conteudo__clientes_titulo{
    padding-top: 3em;
}

.conteudo__footer{
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.conteudo__footer_titulo{
    font-size: 3em;
    font-weight: 500;
    color: black;
}

.conteudo__footer_icone{
    margin: 1em;
    width: 6%;
}

.conteudo__footer_div{
    padding-top: 15em !important;
    padding-bottom: 29.5em !important;
}
.direitos__autorais{
    height: 3rem !important;
    background-color: #692020 !important;
}

.conteudo__footer_imagem{
    height: 60% !important;
    width: 50% !important;
}
.direitos__autorais a {
    font-size: 8px;
    color: white;
    text-decoration: none;
}

.qrcode{
    width: 30% !important;
}
@media (max-width: 1300px) {
    h1 {
        font-size: 3em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: 1.3em;
    }
    .cabecalho__logo{
        width: 50%;
    }
    .conteudo__praticas_div{
        padding-top: 40px !important
    }
    .conteudo__praticas_div_itens{
        padding: 0 !important;
        margin: 0;
        margin-left: 100px !important;
        padding-top: 50px !important;
    }
    .cabecalho__navbar_imagem{
        width: 100%;
    }
    .cabecalho__gap{
        width: 0 !important;
    }
    .cabecalho__div_logo{
        width: 70% !important;
    }
    .conteudo__advogado_div{
        margin: 0 !important;
    }
}
@media (max-width: 768px) {
    .cabecalho__div{
        margin: 0 !important;
    }
    .cabecalho__gap{
        width: 0 !important;
    }
    .cabecalho__div_logo{
        justify-content: center !important;
        width: 100% !important;
    }
    .cabecalho__navbar_imagem{
        display: none;
    }
    .cabecalho__logo{
        width: 60%;
    }
    .cabecalho__link_logo{
        text-align: center !important;
    }
    .conteudo__principal_texto{
        overflow: hidden;
        text-align: center;
        margin: 6px !important;
        padding-top: 100px !important;
    }
    .conteudo__principal_botao_div{
        margin: 0 !important;
        padding-top: 50px !important;
    }
    .conteudo__principal_botao{
        font-size: 16px;
        height: 60px;
        width: 150px;
    }
    .conteudo__principal_texto_principal_div{
        width: 100%;
    }
    .conteudo__praticas_texto{
        padding-top: 40px;
        font-size: 15px;
    }
    .conteudo__praticas_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .conteudo__praticas_item{
        padding: 10px !important;
        margin: 10px !important;
        margin-left: 8px !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .conteudo__praticas_div_itens{
        overflow: hidden !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-left: 20px !important;
        padding-top: 30px !important;
    }

    .conteudo__praticas_item_icone{
        font-size: 4px;
    }
    .conteudo__praticas_item:hover{
        .conteudo__praticas_item_texto {
            font-size:13px;
            font-weight:700;
        }
    }

    .conteudo__advogado_imagem_div{
        margin-top: 0 !important;
        padding-top: 50px !important;
        width: 100%;
    }

    .conteudo__advogado_imagem{
        box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.1);
        width: 60%;
    }

    .conteudo__advogado_texto{
        margin: 0 !important;
        width: 100%;
    }
    .conteudo__advogado_texto_titulo{
        margin: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 40px !important;
        text-align: center;
    }
    .conteudo__advogado_texto_especialidade{
        font-size: 15px;
        margin-left: 30px !important;
        margin-right: 20px !important;
    }
    .conteudo__advogado_div{
        margin: 0 !important;
    }

    .conteudo__advogado_botao{
        margin-top: 20px;
        font-size: 15px;
    }

    .conteudo__advogado_especialidade-botao{
        display: flex;
        justify-content: center;
    }

    .conteudo__footer_imagem_div{
        width: 100%;
    }

    .conteudo__footer_titulo{
        font-size: 35px;
    }

    .conteudo__footer_icone{
        width: 10%;
    }
    .conteudo__footer_texto_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .conteudo__footer_redes{
        text-align: center;
    }
    .conteudo__footer_imagem{
        height: 70%;
        width: 60%;
    }
    .direitos__autorais a{
        font-size: 4px;
    }

    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
}